<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    {% for msg in messages %}
    <div
      class="alert alert-{{msg.tags}} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong> {{msg}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <div id="login" class="" style="width: 50%; margin-left: 25%">
      <h3 class="text-center text-black pt-5">Register</h3>
      <div class="container">
        <form action="/sign_up" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"
              name="uName"
              aria-describedby="emailHelp"
              placeholder="Enter User Name"
            />
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="fName"
              aria-describedby="emailHelp"
              placeholder="Enter First Name"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lName"
              name="lName"
              aria-describedby="emailHelp"
              placeholder="Enter Last Name"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Enter Password"
            />
          </div>
          <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Re-enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
          <a style="float: right" href="/" class="btn btn-primary">Log In</a>
        </form>
      </div>
    </div>
  </body>
</html>
